<!DOCTYPE HTML>
<html>
    <head>
     <meta charset="UTF-8">
     <meta http-equiv="x-ua-compatible" content="IE=edge" >
     <meta name="viewport"   content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
     <title>H5 Aliplayer Live Demo</title>
     <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.8.2/skins/default/aliplayer-min.css" />
     <script type="text/javascript" src="http://player.alicdn.com/resource/player/lib/flexible.min.js"></script>
     <script type="text/javascript" src="lib/zepto.min.js"></script>
     <script type="text/javascript" src="https://g.alicdn.com/de/prismplayer/2.8.2/aliplayer-min.js"></script>
     <script type="text/javascript" src="lib/mqttws31.js"></script>
     <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    </head>

    <body>
        <div class="player-area">
            <%= require('./js/header/index.html')%>
            <%= require('./js/videoplayer/index.html')%>
            <%= require('./js/comment/index.html')%>
            <%= require('./js/favoriate/index.html')%>
            <a class="code-view" href="https://github.com/alilmq/h5livedemo" target="_blank">View github code</a>
        </div>
        <%= require('./js/commentsender/index.html')%>
        <%= require('./js/loading/index.html')%>
    </body>
</html>



